<h1>Author's details : </h1>
<table border="1">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Books</td>
        <td>Image</td>

    </tr>

    <tr>
    <td>{{  authorDetails.id }}</td>
    <td>{{ authorDetails.username | upper }}</td>
    <td>{{ authorDetails.email }}</td>
    <td> {{ authorDetails.nb_books }}</td>
      <td>  <img src="{{asset (authorDetails.picture) }}" alt="author_image"  height="150px" width="150px"> </td>
    </tr>

</table> <br>